body, wrapper {
    min-height:100vh;
    height:500px;
    background-color: #f5f7b5;
    text-align: center;
}

footer {
    text-align:center;
}

#intro {
    text-align: center;
    }

.hide {
    display:none;
    }

.nav-item {
    color:white;
}
