body, wrapper {
    min-height:100vh;
    height:500px;
    background-color: #f5f7b5;
    text-align: center;
}

footer {
    text-align:center;
}

.btn {
    width: 25%;
    margin: auto;
    }

#display-countdown {
    color: white;
}

ul {
    list-style: none; 
}