body, wrapper {
    min-height:100vh;
    background-color: #f5f7b5;
    text-align: center;
    word-wrap: break-word;
}

main {
    margin: 8%;
}

#intro {
    margin-top: 3%;
    margin-bottom: 3%;
}

#show-question {
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    text-align:center;
}

.btn {
    width: 50%;
    margin: auto;
    }

@media screen and (min-width: 0px) and (max-width: 900px) {
.btn {
    width: 100%;
    margin: auto;
    }
}
#start-quiz {
    width: 15%;
}
 
@media screen and (min-width: 0px) and (max-width: 900px) {
    #start-quiz {
     width: 50%;
    margin: auto;
    }
}

#again {
    width: 15%;
}
 
@media screen and (min-width: 0px) and (max-width: 800px) {
    #again {
     width: 50%;
    margin: auto;
    }
}

#display-countdown {
    color: white;
}

ul {
    list-style: none; 
}

#result {
    font-weight: bold;
    font-size: 2em;
}